<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<html>
  <head>
    <style>
      .pure-g > div {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      }
      .l-box {
      padding: 1em;
      }
    </style>
    <body>
      <center><strong><big><big>Blog Title</big></big></strong></center>
      <div class="pure-g">
	<div class="pure-u-1-4"><p>
	    <div class="pure-menu pure-menu-open">
	      <a class="pure-menu-heading">
		<center><strong>Posts</strong></center></a>
	      <ul>
		{% for url in urls %}
		<li><a href={{"/"+url[0]}}><strong><small>{{url[0].replace("%20", " ")}}</small></strong><br><small>{{url[1]}}</small></a></li>
		{% endfor %}
	      </ul>
	    </div>
	  </p>
	</div>
	<div class="pure-u-3-4"><p><div class="l-box"><strong><big><big>{{new[0][0]}}</big></big></strong></br>{{new[0][2]}}<br><br>{{new[0][1]}}<br>
	    </div>
	  </p>
	</div>
      </div>
    </body>
</html>
