{% extends "blog.html" %}
<!-- Inheritance! -->
{% block head %}
{{title}}
{% endblock %}

{% block body %}
<section class="c">
<font face="Baskerville" size="5">
{{post}}<br><font size="2.5">({{time}})</font></section><br><br>
<section class = "c">
<font face="Baskerville" size="5"><b><center>Comments</center></font></b>
 {% for comment in comments %}
        <br>
<section class = "d">
        {{comment[0]}}<br> <font size="3">
        by {{comment[1]}}</font> <font size="2.5">({{comment[2]}})</font>
</section>
    {% endfor %}
</section>
<br><center>
<a class="pure-button pure-button-primary" href="/"><font face="Baskerville">Go Back</a>


<br><br>
<!-- form for commenting on the post --><section class ="c">
<font face="Baskerville" size="5"><b><center>Make a new Comment</center></font></b><br>
<form class="pure-form" method="POST">
  <fieldset> 
    <input type="text" size="30" name="name" placeholder="Name">
    <br><br>
    <textarea name="comment" placeholder="Feel free to add a comment." rows="20" cols="30"></textarea>
    <br><br>
    <input type="submit" class="pure-button pure-button-primary" name="submit" value="Comment!">
  </fieldset>
</form></section>

{% endblock %}
